In [1]:
#数据生成之道_练习 @wp20180801
#拼接rtaings_1和ratings_2两个DataFrame,除了append（）方法，还有其他的方法？
#在关联生成电影信息时，除了merge（）方法外，还有其他方法？

In [2]:
import pandas as pd
import numpy as np

In [3]:
#读取原始数据
ratings_1 = pd.read_csv('/home/wp/Pandas_practice/1_data/ratings_1.csv')
ratings_2 = pd.read_csv('/home/wp/Pandas_practice/1_data/ratings_2.csv')
movies = pd.read_csv('/home/wp/Pandas_practice/1_data/movies.csv')
links = pd.read_csv('/home/wp/Pandas_practice/1_data/links.csv')

In [6]:
#拼接DataFrame
#可以用append() + 还可以用concat() 
#ratings = ratings_1.append(ratings_2, ignore_index = True)
ratings = pd.concat(objs=[ratings_1,ratings_2], ignore_index = True)
print(ratings.shape)
ratings.head(2)

(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

[2 rows x 4 columns]

In [7]:
#关联DataFrame
#可以用merge()  + 还有可以用join(), 默认情况下，join()会使用索引作为关联依据
#movies_info = movies.merge(links, how='inner', on=''movieId)
movies_info = movies.set_index("movieId").join(links.set_index("movieId"), how="inner")
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
#另外，也可以通过参数on来指定关联时所依据的字段。
movies_info_2 =  movies.join(links.set_index("movieId"), how="inner", on="movieId")
movies_info_2.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357
4,5,Father of the Bride Part II (1995),Comedy,113041,11862